<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nolo Quidditch</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
	<h1>Nolo Quidditch Amministrazione</h1>
	<a href="storico"><button>storico</button></a>
<table>
	 <caption>
 		<p id="newprod">Aggiungi nuovo prodotto</p>
 	</caption>
 	<thead>
 	<tr class="price">
 		<td><b>ID</b></td>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Numero</b></td>
 		<td><b>Prezzo</b></td>
 	</tr>
	</thead>

	<tbody>
		<tr>
			<form action="/admin" method="post">
				<input type="hidden" value="inserimento" name="azione"/>
				<td><input type="text" value="" name="id" class="aggiungiform"> </td>
				<td><input type="text" value="" name="nome" class="aggiungiform"></td>
				<td><input type="text" value="" name="descrizione" class="aggiungiform"></td>
				<td><input type="text" value="" name="numero" class="aggiungiform"></td>
				<td><input type="text" value="" name="prezzo" class="aggiungiform"></td>
				<td><input type="submit" value="aggiungi" class="aggiungiform"/></td>
			</form>
		</tr>
	</tbody>
	
</table>


	<table>
 	<caption>
 		<p id="modificaprod">Modifica prodotti</p>
 	</caption>
 	<thead>
 	<tr class="price">
 		<td><b>ID</b></td>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Numero</b></td>
 		<td><b>Prezzo</b></td>
 		<td><b>Modifica Stato</b></td>
 		<td><b>Modifica</b></td>
 		<td><b>Elimina</b></td>

 	</tr>
	</thead>

<tbody>
	
	<% items.forEach(function(item){ %> 
	<tr>
		<form action="/admin" method="post">
			<input type="hidden" value="<%= item.ID%>" name="id" class="aggiungiform"/>
			<td id="nomeitem"><%= item.ID%></td>
			<td><input type="text" value="<%= item.nome%>" name="nome" class="aggiungiform"></td>
			<td><input type="text" value="<%= item.descrizione%>" name="descrizione" class="aggiungiform"></td>
			<td><input type="text" value="<%= item.numero%>" name="numero" class="aggiungiform"></td>
			<td><input type="text" value="<%= item.prezzo%>" name="prezzo" class="aggiungiform"></td>
			<td><select name="stato" value="<%= item.stato%>" id="disponibilita" class="aggiungiform">
				<option value="disponibile" class="aggiungiform">Disponibile</option>
				<option value="temporaneamente non disponibile" class="aggiungiform">Temporaneamente non disponibile</option>
				<option value="non disponibile" class="aggiungiform">Non disponibile</option>
 			</select></td>
			<td><input type="submit" value="modifica" id="storico"/></td>
		</form>
		<form action="/admin/eliminaitem" method="post">
			<input type="hidden" value="<%= item.ID%>" name="id"/>
			<td><input type="submit" value="elimina" id="storico"/></td>
		</form>
	</tr>
	<% }); %>
	
</tbody>

</table>
</table>


</body>

</html>