<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Nolo Quidditch</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">

</head>
<body>
<table>
	 <caption>
 		<p>Aggiungi nuovo prodotto</p>
 	</caption>
 	<thead>
 	<tr>
 		<td><b>ID</b></td>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Numero</b></td>
 		<td><b>Prezzo</b></td>
 		<td><b>Aggiungi</b></td>
 	</tr>
	</thead>

	<tbody>
		<tr>
			<form action="/admin" method="post">
				<input type="hidden" value="inserimento" name="azione"/>
				<td><input type="text" value="" name="id"> </td>
				<td><input type="text" value="" name="nome"></td>
				<td><input type="text" value="" name="descrizione"></td>
				<td><input type="text" value="" name="numero"></td>
				<td><input type="text" value="" name="prezzo"></td>
				<td><input type="submit" value="aggiungi"/></td>
			</form>
		</tr>
	</tbody>
	
</table>


	<table>
 	<caption>
 		<p>Modifica prodotti</p>
 	</caption>
 	<thead>
 	<tr>
 		<td><b>ID</b></td>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Numero</b></td>
 		<td><b>Prezzo</b></td>
 		<td><b>Modifica Stato</b></td>
 		<td><b>Modifica</b></td>
 		<td><b>Elimina</b></td>

 	</tr>
	</thead>

<tbody>
	
	<% items.forEach(function(item){ %> 
	<tr>
		<form action="/admin" method="post">
			<input type="hidden" value="<%= item.ID%>" name="id"/>
			<td><%= item.ID%></td>
			<td><input type="text" value="<%= item.nome%>" name="nome"></td>
			<td><input type="text" value="<%= item.descrizione%>" name="descrizione"></td>
			<td><input type="text" value="<%= item.numero%>" name="numero"></td>
			<td><input type="text" value="<%= item.prezzo%>" name="prezzo"></td>
			<td><select name="stato" value="<%= item.stato%>" id="disponibilita">
				<option value="disponibile">Disponibile</option>
				<option value="temporaneamente non disponibile">Temporaneamente non disponibile</option>
				<option value="non disponibile">Non disponibile</option>
 			</select></td>
			<td><input type="submit" value="modifica"/></td>
		</form>
		<form action="/admin/eliminaitem" method="post">
			<input type="hidden" value="<%= item.ID%>" name="id"/>
			<td><input type="submit" value="elimina"/></td>
		</form>
	</tr>
	<% }); %>
	
</tbody>

</table>


</body>

</html>