<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Nolo Quidditch</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">

</head>
<body class="containder-fluid">
	<h1><a href="#"><img src="img/Logo.jpg">Nolo Quidditch</a></h1>


<a href="storico"><button>storico</button></a>

	<form action="/home" method="post">
<table class="table">
 	<caption>
 		<p>I nostri prodotti</p>
 	</caption>
 	<thead>
 	<tr>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Prezzo per giornata</b></td>
 		<td><b>Seleziona</b></td>
 	</tr>
	</thead>

<tbody>
	
	<% items.forEach(function(item){ %> 
	<tr>
		<%	if (item.stato != "non disponibile"){ %>
		<input type="hidden" value="<%= item.ID%>" name="id"/>
		<td><%=item.nome%></td>
		<td id="descrizione"><%=item.descrizione%></td>
		<td><input type="hidden" value="<%= item.prezzo%>" name="prezzo"/><%=item.prezzo%></td>
		<td>
		<%	if (item.stato == "disponibile"){ %>
 			<select name="quantity" id="quantita">
			<% for(let i=0; i <= item.numero; i ++){ %>
				<option value="<%= i %>"><%= (i==0?"-": i) %></option>
			<% }%>
 			</select>
			<%	} else if (item.stato == "temporaneamente non disponibile"){ %>
					<input type="hidden" value="0" name="quantity" />
					Prodotto temporaneamente non disponibile al noleggio  			
			<%	}	%>
		</td>
		<%	}	%>
	</tr>
	<% }); %>
	

</tbody>

</table>
		 <input type="submit" name="submit" value="procedi al pagamento">
 </form>
</body>

</html>
