<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	<link rel="stylesheet" type="text/css" href="style.css"> -->
	<title>Nolo Quidditch</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">

</head>
<body>
	<form action="/home" method="post">
<table>
 	<caption>
 		<p>I nostri prodotti</p>
 	</caption>
 	<thead>
 	<tr>
 		<td><b>Nome</b></td>
 		<!-- <td><b>Immagine</b></td> -->
 		<td><b>Descrizione</b></td>
 		<td><b>Prezzo per giornata</b></td>
 		<td><b>Oggetti disponibili</b></td>
 		<td><b>Seleziona</b></td>
 		<!-- <td><b>Modello</b></td> -->
 	</tr>
	</thead>

<tbody>
	
	<% items.forEach(function(item){ %> 
	<tr>
		<input type="hidden" value="<%= item.ID%>" name="id"/>
		<td><%=item.nome%></td>
		<td><%=item.descrizione%></td>
		<td><input type="hidden" value="<%= item.prezzo%>" name="prezzo"/><%=item.prezzo%></td>
		<td><%=item.numero%></td>
<!-- trovare una soluzione per mostrare nel menù a tendina già solo il numero di oggetti disponibili -->
		<td>
			<select name="quantity" id="quantita">
			<% for(let i=0; i <= item.numero; i ++){ %>
				<option value="<%= i %>"><%= (i==0?"-": i) %></option>
			<% }%>
 			</select>
		    
		</td>
	</tr>
	<% }); %>
	

</tbody>

</table>
		 <input type="submit" name="submit">
 </form>
</body>

</html>
