<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nolo Quidditch</title>
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
 -->
</head>
<body>
<div>
	<table>
		<% orders.forEach(function(order){ %>
	<tr>
		<td><b>utente: </b><%=order.utente%></td>
 	</tr>
 	<tr>
		<td><b>data e ora: </b><%=new Date(order.dataeora).toString()%></td>
	<%	if (ruolo == "amministratore"){ %>
		<form action="/storico" method="post">
			<input type="hidden" value="<%= order.utente%>" name="utente"/>
			<input type="hidden" value="<%= order.dataeora%>" name="dataeora"/>
 		<td><select name="stato" value="<%= order.stato%>" id="stato">
				<option value="noleggio in corso">Noleggio in corso</option>
				<option value="nolegio concluso">Noleggio concluso</option>
			</select>
			<input type="submit" value="salva"/>
		</form>
	<%	} else { %>
		<td><b>stato: </b><%=order.stato%></td>
	<%	} %>
  		
	</tr> 	

	<tr>
		<% order.prodotti.forEach(function(product){ %>
		<tr>
			<td><b>prodotto: </b><%=product.id%></td>
			<td><b>numero: </b><%=product.quantita%></td>
			
		</tr>
		<% });%>
	</tr>
			<% });%>
	</table>
	
</div>

</body>
